In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sea

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('/Users/ankusmanish/Desktop/Training/Datasets/Week 6 data/classification_2.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
39                32560 non-null int64
 State-gov        32560 non-null object
 77516            32560 non-null int64
 Bachelors        32560 non-null object
 13               32560 non-null int64
 Never-married    32560 non-null object
 Adm-clerical     32560 non-null object
 Not-in-family    32560 non-null object
 White            32560 non-null object
 Male             32560 non-null object
 2174             32560 non-null int64
 0                32560 non-null int64
 40               32560 non-null int64
 United-States    32560 non-null object
 <=50K            32560 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
data.isnull().sum()

39                0
 State-gov        0
 77516            0
 Bachelors        0
 13               0
 Never-married    0
 Adm-clerical     0
 Not-in-family    0
 White            0
 Male             0
 2174             0
 0                0
 40               0
 United-States    0
 <=50K            0
dtype: int64

In [5]:
data.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [6]:
lis = []
cols = data.columns
for i in cols:
    if data[i].dtype == 'O':
        lis.append(i)

In [7]:
#The list of columns that has categorical values
print(lis)

[' State-gov', ' Bachelors', ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' United-States', ' <=50K']

In [8]:
for i in lis:
    print(i.upper())
    print(data[i].value_counts())
    print('-'*100)
    print('-'*100)

 STATE-GOV
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1297
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name:  State-gov, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
 BACHELORS
 HS-grad         10501
 Some-college     7291
 Bachelors        5354
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name:  Bachelors, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
 NEVER-MARRIED
 Married-civ-spouse       14976
 Never-married            10682
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name:  Never-married, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
 ADM-CLERICAL
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3769
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name:  Adm-clerical, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
 NOT-IN-FAMILY
 Husband           13193
 Not-in-family      8304
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name:  Not-in-family, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
 WHITE
 White                 27815
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name:  White, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
 MALE
 Male      21789
 Female    10771
Name:  Male, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
 UNITED-STATES
 United-States                 29169
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name:  United-States, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
 <=50K
 <=50K    24719
 >50K      7841
Name:  <=50K, dtype: int64
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------

In [11]:
data.nunique()

39                   73
 State-gov            9
 77516            21647
 Bachelors           16
 13                  16
 Never-married        7
 Adm-clerical        15
 Not-in-family        6
 White                5
 Male                 2
 2174               119
 0                   92
 40                  94
 United-States       42
 <=50K                2
dtype: int64

In [27]:
data[' <=50K'].replace(' <=50K', 0, inplace = True)
data[' <=50K'].replace(' >50K', 1, inplace = True)

In [29]:
outcome_variable = data[' <=50K']

In [30]:
data.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

In [33]:
data.drop(['39',' 77516',' Bachelors',' 13',' Never-married',' Not-in-family',' White',' 2174',' 0',' 40',' United-States',' <=50K'], axis = 1, inplace = True)

In [38]:
data = pd.get_dummies(data[[' State-gov',' Adm-clerical',' Male']])

In [46]:
mod_data = pd.concat([data, outcome_variable], axis = 1)

In [48]:
mod_data.shape

(32560, 27)

In [53]:
mod_data.head()

,State-gov_ ?,State-gov_ Federal-gov,State-gov_ Local-gov,State-gov_ Never-worked,State-gov_ Private,State-gov_ Self-emp-inc,State-gov_ Self-emp-not-inc,State-gov_ State-gov,State-gov_ Without-pay,Adm-clerical_ ?,...,Adm-clerical_ Other-service,Adm-clerical_ Priv-house-serv,Adm-clerical_ Prof-specialty,Adm-clerical_ Protective-serv,Adm-clerical_ Sales,Adm-clerical_ Tech-support,Adm-clerical_ Transport-moving,Male_ Female,Male_ Male,<=50K
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [54]:
data = mod_data

In [55]:
X_train, y_train, X_test, y_test = (data.iloc[:25000,:26], data.iloc[:25000,26:27], data.iloc[25000:,:26], data.iloc[25000:,26:27])

In [57]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(25000, 26)
(25000, 1)
(7560, 26)
(7560, 1)

In [58]:
X_train.columns

Index([' State-gov_ ?', ' State-gov_ Federal-gov', ' State-gov_ Local-gov',
       ' State-gov_ Never-worked', ' State-gov_ Private',
       ' State-gov_ Self-emp-inc', ' State-gov_ Self-emp-not-inc',
       ' State-gov_ State-gov', ' State-gov_ Without-pay', ' Adm-clerical_ ?',
       ' Adm-clerical_ Adm-clerical', ' Adm-clerical_ Armed-Forces',
       ' Adm-clerical_ Craft-repair', ' Adm-clerical_ Exec-managerial',
       ' Adm-clerical_ Farming-fishing', ' Adm-clerical_ Handlers-cleaners',
       ' Adm-clerical_ Machine-op-inspct', ' Adm-clerical_ Other-service',
       ' Adm-clerical_ Priv-house-serv', ' Adm-clerical_ Prof-specialty',
       ' Adm-clerical_ Protective-serv', ' Adm-clerical_ Sales',
       ' Adm-clerical_ Tech-support', ' Adm-clerical_ Transport-moving',
       ' Male_ Female', ' Male_ Male'],
      dtype='object')

In [66]:
y_train.columns

Index([' <=50K'], dtype='object')

In [120]:
col1 = X_train[' State-gov_ ?'].values
col2 = X_train[' State-gov_ Federal-gov'].values
col3 = X_train[' State-gov_ Local-gov'].values
col4 = X_train[' State-gov_ Never-worked'].values
col5 = X_train[' State-gov_ Private'].values
col6 = X_train[' State-gov_ Self-emp-inc'].values
col7 = X_train[' State-gov_ Self-emp-not-inc'].values
col8 = X_train[' State-gov_ State-gov'].values
col9 = X_train[' State-gov_ Without-pay'].values
col10 = X_train[' Adm-clerical_ ?'].values
col11 = X_train[' Adm-clerical_ Adm-clerical'].values
col12 = X_train[' Adm-clerical_ Armed-Forces'].values
col13 = X_train[' Adm-clerical_ Craft-repair'].values
col14 = X_train[' Adm-clerical_ Exec-managerial'].values
col15 = X_train[' Adm-clerical_ Farming-fishing'].values
col16 = X_train[' Adm-clerical_ Handlers-cleaners'].values
col17 = X_train[' Adm-clerical_ Machine-op-inspct'].values
col18 = X_train[' Adm-clerical_ Other-service'].values
col19 = X_train[' Adm-clerical_ Priv-house-serv'].values
col20 = X_train[' Adm-clerical_ Prof-specialty'].values
col21 = X_train[' Adm-clerical_ Protective-serv'].values
col22 = X_train[' Adm-clerical_ Sales'].values
col23 = X_train[' Adm-clerical_ Tech-support'].values
col24 = X_train[' Adm-clerical_ Transport-moving'].values
col25 = X_train[' Male_ Female'].values
col26 = X_train[' Male_ Male'].values

In [84]:
X = np.array([col1, col2, col3, col4, col5, col6, col7, col8, col9, col10, col11,
              col12, col13, col14, col15, col16, col17, col18, col19, col20, col21,
              col22, col23, col24, col25, col26]).T
Y = np.array(y_train[' <=50K'].values)

In [85]:
X.shape

(25000, 26)

In [86]:
Y.shape

(25000,)

In [101]:
alpha = 0.001   
m = len(X) 
np.random.seed(10)
theta = np.random.rand(26)  #initializing theta with some random values

In [102]:
theta

array([0.77132064, 0.02075195, 0.63364823, 0.74880388, 0.49850701,
       0.22479665, 0.19806286, 0.76053071, 0.16911084, 0.08833981,
       0.68535982, 0.95339335, 0.00394827, 0.51219226, 0.81262096,
       0.61252607, 0.72175532, 0.29187607, 0.91777412, 0.71457578,
       0.54254437, 0.14217005, 0.37334076, 0.67413362, 0.44183317,
       0.43401399])

In [111]:
def gradient_descent(x, y, m, theta, alpha):
    cost_list = []   #to record all cost values to this list
    prediction_list = []
    iterations = 3000
    for i in range(iterations):
        pred = np.dot(x, theta)   #predicted y values 
        prediction_list.append(pred)
        error = pred - y
        cost = 1/(2*m) * np.dot(error.T, error)   #  (1/2m)*sum[(error)^2]
        cost_list.append(cost)
        theta = theta - (alpha * (1/m) * np.dot(x.T, error))   # alpha * (1/m) * sum[error*x]

    return prediction_list, cost_list, theta

In [112]:
prediction_list, cost_list, theta = gradient_descent(X, Y, m, theta, alpha)

In [114]:
cost_list[-1]

0.1149690461543459

In [117]:
theta

array([ 0.62472034,  0.00721492,  0.42927144,  0.74812807, -0.0502935 ,
        0.22053366,  0.11419146,  0.60498341,  0.16787046, -0.0589363 ,
        0.42778376,  0.95218175,  0.08523184,  0.46794307,  0.71045676,
        0.51846145,  0.57513703,  0.18132035,  0.8976065 ,  0.53067575,
        0.49193838,  0.18431675,  0.35577073,  0.56775029, -0.18657618,
       -0.09648918])

In [118]:
theta.shape

(26,)

In [119]:
def sigmoid(x):
    # Activation function used to map any real value between 0 and 1
    return 1 / (1 + np.exp(-x))

In [121]:
col1 = X_test[' State-gov_ ?'].values
col2 = X_test[' State-gov_ Federal-gov'].values
col3 = X_test[' State-gov_ Local-gov'].values
col4 = X_test[' State-gov_ Never-worked'].values
col5 = X_test[' State-gov_ Private'].values
col6 = X_test[' State-gov_ Self-emp-inc'].values
col7 = X_test[' State-gov_ Self-emp-not-inc'].values
col8 = X_test[' State-gov_ State-gov'].values
col9 = X_test[' State-gov_ Without-pay'].values
col10 = X_test[' Adm-clerical_ ?'].values
col11 = X_test[' Adm-clerical_ Adm-clerical'].values
col12 = X_test[' Adm-clerical_ Armed-Forces'].values
col13 = X_test[' Adm-clerical_ Craft-repair'].values
col14 = X_test[' Adm-clerical_ Exec-managerial'].values
col15 = X_test[' Adm-clerical_ Farming-fishing'].values
col16 = X_test[' Adm-clerical_ Handlers-cleaners'].values
col17 = X_test[' Adm-clerical_ Machine-op-inspct'].values
col18 = X_test[' Adm-clerical_ Other-service'].values
col19 = X_test[' Adm-clerical_ Priv-house-serv'].values
col20 = X_test[' Adm-clerical_ Prof-specialty'].values
col21 = X_test[' Adm-clerical_ Protective-serv'].values
col22 = X_test[' Adm-clerical_ Sales'].values
col23 = X_test[' Adm-clerical_ Tech-support'].values
col24 = X_test[' Adm-clerical_ Transport-moving'].values
col25 = X_test[' Male_ Female'].values
col26 = X_test[' Male_ Male'].values

In [122]:
x = np.array([col1, col2, col3, col4, col5, col6, col7, col8, col9, col10, col11,
              col12, col13, col14, col15, col16, col17, col18, col19, col20, col21,
              col22, col23, col24, col25, col26]).T
y = np.array(y_test[' <=50K'].values)

In [124]:
print(x.shape)
print(y.shape)
print(theta.shape)

(7560, 26)
(7560,)
(26,)

In [149]:
import math

def predict(test):
    t = np.reshape(theta, (26,1))
    res = sigmoid(np.dot(test, t))
    lis = []
    for i in range(len(res)):
        if math.floor(res[i]*10)/10 <= 0.5:
            lis.append(0)
        else:
            lis.append(1)
    return lis

In [150]:
res = predict(x)

In [175]:
res[:10]

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1]

In [146]:
y_test.head(10)

        <=50K
25000       0
25001       0
25002       0
25003       0
25004       0
25005       1
25006       0
25007       0
25008       0
25009       0

In [171]:
def accuracy(y_pred, y_test):
    true = 0
    false = 0
    for i in range(len(res)):
        if y_pred[i] == y_test[i]:
            true += 1
        else:
            false += 1

        result = (true * 100) / len(res)
    return result

In [172]:
Accuracy = accuracy(res, y)

In [174]:
print(Accuracy)

61.37566137566137

In [176]:
from sklearn.metrics import accuracy_score

In [177]:
accuracy_score(res, y)

0.6137566137566137